<html>
<head>
 <title>Passport App</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<a href="/auth/logout"><button id="logout">LogOut</button></a>
<div id="profile">

<h1>Welcome <%= user.email %>!</h1>
<br/>
Age : <%= user.age %>
<br/>

</div>
</body>
</html>