<html>
<head>
 <title>New User</title>
</head>
<body>

		<form action="/auth/signup" method="post">
			  <div>
		        <label>Email : </label>
		        <input type="email" name="username" required/>
	      	  </div>
	      	  <br/>
		      <div>
		        <label>Password :</label>
		        <input type="password" name="password" required/>
		      </div>
		      <br/>
		      <div>
		        <label>Age :</label>
		        <input type="text" name="age" required/>
		      </div>
		      <br/>
		      <br/>
		      <div>
		        <input type="submit" value="Register" />
		      </div>
		</form>

</body>
</html>