<html>
<head>
 <title>Passport App</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div>

<button id="logout"><a href="/auth/logout">LogOut</a></button>

<div id="profile">
<h2>Welcome <%= user.displayName %>!</h2>
<img src=<%=user.image%> alt="image" />
<br/>
<br/>
<%if(user.facebook){%>
	<b>Your Friends Count : <%=user.friendsCount %></b>
<%}%>
</div>


</div>
</body>
</html>